/***************************Estilos Login***********************************/

.login{
	
	height: 100vh;
	display: block;
	width: 100%;
	text-align: center;
}


.inputLogin{
	border-radius: 0%;
  border: 0px;
  width: 60vw;
	height: 6vh;
	display: block;
	margin-left: 17%;
	margin-top: 2%;
}

.btnLogIn{
	background-color: #202A37;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	margin-bottom: 2%;
	margin-top:2%;
}


.space{
	padding:  1vw;
}

.btnPestaña{
	background-color: #E6E6E5;
	border-bottom: 0px;
	margin: 0px;
	cursor: pointer;
	width: 20vw;
	display: inline-block;
	color: #202A37; 
	font-size: 20px; 
}

.inputRva{
	border-radius: 0%;
  border: 0px;
  width: 20vw;
	display: inline-block;
	margin-left: 5%;
	margin-top: 7%;
}

#historyReserva{
	display: none;
	padding: 5%;
}
#ingresoReserva{
	display: block;
}

#inputVacio{
	background-color: #E6E6E5;
	border: 0px;
	width: 20vw;
}
.col-10{
	background-color: #E6E6E5;
}

#inputObservaciones{
	border-radius: 0%;
  border: 0px;
	width: 50vw;
	height: 20vh;
	display: inline-block;
	
}

@media (min-width: 768px){
#logo{
	margin-top:30px;
	text-align: center;
	width: 50vw;
	margin-left:10%
}
.login{
	background-size: cover;
	height: 110vh;
	display: none;
	width: 100%;
}
.inputLogin{
  width: 50vw;
	height: 6vh;
	display: block;
	margin-left: 24%;
	margin-top: 2%;
	font-size: 20px;
}

.btnLogIn{
	width: 50vw;
	font-size: 22px;
}



.textLogin{
	font-size: 20px;

}
}

/***************************Secciones***********************************/
#sectionPrincipal{
	display: block;
}
#sectionVisitas{
	display: none;
}
#sectionEncomiendas{
	display: none;
}
#sectionEspacios{
	display: none;
	padding: 5%;
}

