/* Reseteo márgenes browser y color body */
body {
	margin: 0 auto;
	background-image: url(img/f0bfdcc0457f290e35a1cc5c95c4e6f8-700.jpg)
}

/* Estilos generales */
.center {
	text-align: center;
}

/* Estilos Header */
header {
	background-color: #FFF;
	text-align: center;
}

header div img {
	width: 10em;
}

/* Estilos imágen y su contenedor */

.photo{
	text-align: center;
}

textarea {
	width: 70%;
	height: 4em;	
	font-size: 15px;
	padding: 1em;	
	outline: 0.1em solid #E5E3F2;
	margin: 0 auto;
}

/* Estilos botón agregar */
#btn {
	background-color: #16C7D3;
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 3em auto;
	width: 130px;
	height: 30px;
	display: block;
  color: #FFF;  
}

#btn:hover {
	background-color: #16D3A2;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */


#cont {
	border-radius: 4em;
	margin: 0 auto;
	color: #4E4D53;
	text-align: left;
	margin-bottom: 6em;
  padding: 0 16%;
  
}

#cont span {
	margin-left: 1em;
}

#cont div {
	padding: 0.5em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
}

.heart, .trash {
	margin:1em;
	float: right;
	cursor: pointer;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}